body {
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    z-index: 0;
}

* {
    position: relative;
    z-index: 1;
}
table{
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    background-color: #ffffff; 
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.showroom {
    border-collapse: separate;
    width: 100%;
}

.catg{
    background: #f4d58d;
    border-radius: 5px;
    color: #000000;
}

.cards {
    text-align: center;
}

.imgs{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.imgs:hover{
    /*
    height: 155px;
    width: 155px;
    */
    transform: scale(110%);
}

.price_name {
    color: #3f612d;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #ffffff;
    color: #5e503f;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #f4d58d;
}

.head{
    font-style: italic;
    color: #8f8557;
    text-align: center;
}

h2 {
    text-align: center;
}

.button {
    background: #f4d58d; 
    padding: 5px;
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
    text-decoration: none;
}

.button:active{
    transform: scale(90%);
}

/*order pages styling : */

.showcase{
    height: 300px;
    width: 300px;
    padding: 10px;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.order_tabel{
    background-color: #f4d58d; 
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
